{#
- test_class: TestNapalmInterfaces
    test_data:
        - host: R1
        name: GigabitEthernet1
        is_enabled: true
        is_up: true
        mac_address: C0:FF:EE:BE:EF:00
        mtu: 1500
        speed: 1000
#}
- test_class: TestNapalmInterfaces
  test_data:
    {% for interface in data.InfraDevice.edges[0].node.interfaces.edges %}
    {% if interface.node.status.value == 'active' %} {# skip interfaces if not up as they are not present in containerlab #}
    - host: {{ data.InfraDevice.edges[0].node.name.value }}
      name: {{ interface.node.name.value }}
      is_enabled: {{ interface.node.enabled.value }}
      is_up: {{ 'True' if interface.node.status.value == 'active' else 'False' }}
      mtu: {{ interface.node.mtu.value }}
      speed: {{ interface.node.speed.value }}
    {% endif %}
    {% endfor %}